{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
	{% set total_kcal =0 %}
  {% for row in rows %}
   {% set total_kcal = total_kcal+(row.content['#row'].nutripal_user_meals_serving/100*row.content['#row']._relationship_entities.aid.field_calories.getString()) %}
  {% endfor %}


{% if title %}
  <h3>{{ title }} <span class="total-kcl"> ({{ total_kcal }}kcal)</span></h3>
{% endif %}
{% set serving = rows[0].content['#row'].nutripal_user_meals_serving %}
{% set kcal = rows[0].content['#row']._relationship_entities.aid.field_calories.getString() %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    
    {{ row.content }}
  </div>
{% endfor %}
