.aliments img{
	width: 100%;
}


.aliments .field--name-body{
    text-align:justify;
}

.aliments .nutrition-values{
    padding: 20px;
    background: linear-gradient(#137714, #3CA640);
    background-color: #337ab7;
    border-radius: 10px;
}

.aliments .nutrition-header{
	color: white;
}

.aliments .nutrition-values ul{
	list-style-type: none;
}

.aliments .nutrition-values h3{
	margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}


.aliments .nutrition-values ul:first-child{
	padding: 0px;
}

.aliments .values-details{
	background-color: white;
    padding: 10px;
}

.aliments .main-value{
	font-weight: bold;
}

.aliments .vitamin{
	width: 50%;
    float: left;
}

#nutrition-donut{
	width: 100%;
}

.aliments .form-required:after {
    background-image:none;
}

.aliments .nutrition-values dt {
	font-weight: normal;
    float: left;
    width: 140px;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 15px;
  }

  .aliments .nutrition-values dd {
  	margin-left: 200px;
  }

  .aliments .nutrition-values dt.bold{
  	font-weight: bold;
  	font-size: 1.3em;
    margin-left: 0px;
  }
  .aliments .nutrition-values dd.bold{
  	font-weight: bold;
  	font-size: 1.3em;
  }

form#nutrition-values-calculator h4 {
   color: #fff;
}

form#nutrition-values-calculator button {
   font-weight: bold;
   height: 34px;
}

form#add-meal-ingredient label:nth-child(1){
  display: block;
  margin: 5px 0px;
}

form#add-meal-ingredient #edit-add{
  margin-top: 5px;
  background: linear-gradient(#137714, #3CA640);
}

form#add-meal-ingredient label{
  font-size: 1.2em;
}
