.aliments img{
	width: 100%;
}


.aliments .field--name-body{
	float: left;
    width: 58%;
    margin: 10px 2% 10px 0px;
    text-align:justify;
}

.aliments .nutrition-values{
	float: left;
    width: 40%;
    margin: 10px 0px;
    padding: 20px;
    background-color: #337ab7;
    border-radius: 10px;
}

.aliments .nutrition-header{
	color: white;
}

.aliments .nutrition-values ul{
	list-style-type: none;
}

.aliments .nutrition-values h3{
	margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 30px;
}


.aliments .nutrition-values ul:first-child{
	padding: 0px;
}

.aliments .values-details{
	background-color: white;
    padding: 10px;
}

.aliments .main-value{
	font-weight: bold;
}

.aliments .vitamin{
	width: 50%;
    float: left;
}

#nutrition-donut{
	width: 100%;
}