.row-wrapper{
	position: relative;
  margin-bottom: 25px;
  transition: 0.3s ease;
}

.row-wrapper:hover{
	transform: scale(0.9, 0.9);
}

.view-front-article .views-field-title{
	background-color: rgba(25, 25, 25, .5);
    position: absolute;
    bottom: 0%;
    height: 100px;
    width: 100%;

}

.view-front-article .views-field-title h1{
	color: #fff;
	text-align: center;
}

.view-front-aliment .views-field-title{
	background-color: rgba(25, 25, 25, .5);
    position: absolute;
    bottom: 0%;
    height: 70px;
    width: 100%;

}

.view-front-aliment .views-field-title h1{
	color: #fff;
	text-align: center;
}